 .border {
    -fx-background-color: yellow;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-style: segments(5, 5);
}

.mask {
    -fx-background-image: url("./grid_bg.png");
    -fx-background-position: left top;
}
